.info-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: theme_color("dark");
  color: theme_color("light");
  font-family: $font-family-BasierCircle-Bold;
  cursor: pointer;
  margin: 4px;
}

.info-box-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-down(xs) {
    align-items: flex-start;
  }
}
