.about {
  .row {
    padding: 50px 0;

    @include media-breakpoint-down(lg) {
      padding: 30px 0;
    }
    @include media-breakpoint-down(sm) {
      padding: 15px 0;
    }
  }

  &__heading {
    margin-bottom: 30px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 10px;
    }
  }

  &__content {
    margin: 20px 40px 20px 0;

    @include media-breakpoint-down(lg) {
      margin: 20px 0;
    }

    &__btn {
      margin: 40px 0;

      @include media-breakpoint-down(sm) {
        margin: 20px 0 30px;
      }
    }
  }

  &__img {
    width: 100%;
  }

  .text-image-module {
    padding: 0;

    .row {
      flex-direction: row;

      @include media-breakpoint-down(lg) {
        flex-direction: column-reverse;
      }
    }

    &--reverse {
      .row {
        flex-direction: row-reverse;

        @include media-breakpoint-down(lg) {
          flex-direction: column-reverse;
        }
      }

      .about__content {
        margin: 20px 0 20px 40px;

        @include media-breakpoint-down(lg) {
          margin: 20px 0;
        }
      }
    }
  }
}
