.forgottenPassword {
  position: relative;
  &__form {
    &__headline {
      margin-bottom: 20px;
    }
    &__content {
      margin-bottom: 20px;
    }

    &__button {
      margin-top: 20px;
    }
    &__bottom {
      &__inner {
        @include media-breakpoint-down(md) {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  &__success {
    display: flex;
    flex-direction: column;
    &--content {
      margin: 40px 0;

      @include media-breakpoint-down(sm) {
        margin: 0;
      }
      p {
        margin: 20px 0;
      }
      .email {
        font-family: $font-family-BasierCircle-SemiBold;
        @include rem(font-size, $font-size-16);
        letter-spacing: 0;
        @include rem(line-height, 22px);
        margin: 0;
        max-width: 65ch;

        @include media-breakpoint-down(sm) {
          @include rem(font-size, $font-size-14);
          @include rem(line-height, 18px);
        }
      }

      &--bottom {
        margin: 20px 0;

        .mascot {
          text-align: right;
          img {
            width: 180px;
            @include media-breakpoint-down(lg) {
              width: 100px;
            }
          }
        }

        button {
          text-decoration: underline;
          background: none;
          border: none;
          padding: 0;

          &:hover,
          &:active,
          &:focus {
            color: theme-color("primary-yellow");
            text-decoration: none;
          }

          color: theme-color("dark");
          font-family: $font-family-OpenSans-Regular;
          @include rem(font-size, $font-size-16);
          letter-spacing: 0;
          @include rem(line-height, 22px);
          transition: all 200ms ease-in-out;

          @include media-breakpoint-down(sm) {
            @include rem(font-size, $font-size-14);
            @include rem(line-height, 18px);
          }
        }
      }
    }
  }
}
